@model List<FirstApplication.Models.Entity.Product>
@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

<br />
<br />


<table class="table-bordered table table-responsive">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>


    </tr>

    @foreach (var s in Model)
    {
        if (s != null)
        {
<tr>
    <td>@s.Id</td>
    <td>@s.Name</td>
    <td>@s.Price</td>
    <td>@s.Quantity</td>
    <td>@s.Description</td>
    
</tr>
        }
    }

</table>

